<link rel="stylesheet" href="stylesheets/blogs.css">

<div class="header-blog-index">
  <ul>
    <li><%= link_to "マイページ", front_path(id: current_user) %></li>
    <li><i class="far fa-comment-alt"></i>筋トレ記録一覧</li>
    <li><%= link_to "今日の筋トレを記録", new_blog_path %> </li>
  </ul>
</div>

<p id="notice"><%= notice %></p>


<div class="blogs-container">
  <div class="blog-index-left">
    <li><i class="fas fa-home"></i><%= link_to "マイページ", front_path(id: current_user) %></li>
    <li><i class="far fa-comment-alt"></i>今日の筋トレを記録</li>
    <li><i class="far fa-comment-alt"></i><%= link_to "筋トレ記録一覧", blogs_path %></li>
    <li><i class="far fa-comment-dots"></i><%= link_to "おすすめ投稿", new_tweet_path %></li>
    <li><i class="far fa-comment-alt"></i><%= link_to "おすすめ投稿一覧", tweets_path %></li>
    <li><i class="far fa-user"></i><%= link_to "おうちトレーニー", users_path %></li>
    <li><i class="far fa-address-card"></i><%= link_to "マイプロフィール", user_path(current_user.id) %></li>
    <li><i class="far fa-edit"></i><%= link_to "体重管理", new_graph_path %></li>
    <li><i class="fas fa-dumbbell"></i><%= link_to "マッチョ診断", new_person_path %></li>
  </div>
  <div class="blog-index-center">
    <% @blogs.each do |blog| %>
    <tr>
      <td><a href="/users/<%= blog.user.id %>"><%= blog.user.name %></a>
      <td>
      <td><%= blog.part %></td>
      <td><%= blog.training %></td>
      <td><%= blog.start_time.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= link_to '詳細へ', blog_path(blog.id) %></td>
      <td><%= link_to '編集する', edit_blog_path(blog.id) %></td>
      <td><%= link_to '削除する',blog_path(blog.id), method: :delete, data: { confirm: '筋トレ記録を削除しますか?' } %></td>
    </tr>
    <% end %>
  </div>
  <div class="blog-index-left">

  </div>
</div>