<div class="header-page" data-turbolinks="false">
    <h1><a href="/fronts/<%= current_user.id %>"><span class="maintitle">The Strongest</span><span
                class="description">Home Trainee</span></a></h1>
</div>

<div class="graph-new">
    <h2>体重管理</h2>
    <%= form_with(model: @graph, local: true) do |f| %>

    <div class="time">
        <%= f.label :今日の日付, class:"graph-label blog-time" %>
        <%= f.date_select :weigh_on %>
    </div>

    <div class="field">
        <%= f.label :体重, class:"graph-label" %>
        <%= f.text_field :weight, :size => 30, class:"graph-field" %>
    </div>
    <div class="submit">
        <%= f.submit "体重管理する", class:"submit-text" %>
    </div>
    <% end %>
</div>