<%= form_with(model: @graph, local: true) do |f| %>

    <div class="time">
        <%= f.label :今日の日付%>
        <%= f.date_select :weigh_on %>
    </div>
    
    <div class="field">
        <%= f.label :体重%>
        <%= f.text_field :weight, :size => 30 %>
    </div>

  <%= f.submit "体重管理する" %>

<% end %>
