<link rel="stylesheet" href="stylesheets/hello.css">
<%= javascript_pack_tag 'script' %>

<% if user_signed_in? %>
<li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
<% else %>

<div class="header">
    <div class="header-right">
        <a class="menubutton" id="menubutton">
            <div></div>
            <div></div>
            <div></div>
        </a>
    </div>

    <div class="menu" id="menu">
        <ul class="menu-box1">
            <li class="sighup1"><a href=""><%= link_to "Signup", new_user_registration_path %></a></li>
            <li class="login1"><a href=""><%= link_to "Login", tweets_path %></a></li>
            <li>機能紹介</li>
        </ul>
        <ul class="menu-box2">
            <li>カレンダー機能</li>
            <li>体型診断機能</li>
            <li>おすすめ筋トレ投稿機能</li>
            <li>体重推移機能</li>
            <li>いいね機能</li>
            <li>フォロー機能</li>
            <li>コメント機能</li>
            <li>ランキング機能</li>
            <li>ＤＭ機能</li>
        </ul>
    </div>
</div>
<div class="mask" id="mask"></div>

<div class="top-wrapper">
    <div class="container">
        <div class="top-wrapper-theme1" id="top-wrapper-theme1">
            <h1>Road to the <br><span class="span1">Strongest</span><br> <span class="span2">Home Trainee</span></h1>
        </div>
        <div class="animation-picture1 animation-target" id="animation-picture1 animation-target">
            <div></div>
        </div>
        <div class="animation-picture2 animation-target" id="animation-picture2 animation-target">
            <div></div>
        </div>
        <div class="top-wrapper-theme2" id="top-wrapper-theme2">
            <p>　おうち筋トレ<span>やってる感</span>を<br>
                　　盛大に演出する<br>　　　おうちトレーニー<br>　　　　専用サービス<br>

            </p>

        </div>
    </div>
</div>
<div id="feature">
    <div class="main-wrapper">
        <div class="container">
            <h1>主な機能紹介</h1>
            <div id="function1" class="flex-target animation-text">
                <img src="/assets/スクリーンショット (19).png" alt="" width="500px" height="300px">
                <div class="text">
                    <h2><i class="far fa-calendar-alt"></i>筋トレをカレンダーに記録</h2>
                    <p>その日行ったあなたの筋トレを投稿すれば、<br>自動でカレンダーに登録してくれます。<br>
                        これでもうあなたの努力が消えることはありません。
                    </p>
                </div>
            </div>
            <div id="function2" class="flex-target animation-text">
                <div class="text">
                    <h2><i class="fas fa-male"></i>あなたはどんな体型？体型診断！</h2>
                    <p>身長と体重、体脂肪率を入力するだけで、BMIと体脂肪率から、<br>
                        あなたがどんな体型なのか診断します。</p>
                </div>
                <img src="/assets/スクリーンショット (18).png" alt="" width="500px" height="300px">
            </div>
            <div id="fuction3" class="flex-target animation-text">
            <img src="/assets/スクリーンショット (22).png" alt="" width="500px" height="300px">
                <div class="text">
                    <h2><i class="far fa-calendar"></i>日々の成果を体重推移で！</h2>
                    <p>体重を入力するだけで体重増減をグラフ化！
                        あなたの<br>努力をグラフ化します。
                    </p>
                </div>
            </div>
            <div id="function4" class="flex-target animation-text">
                <div class="text">
                    <h2><i class="far fa-comment-dots"></i>おすすめの筋トレ投稿機能</h2>
                    <p>ユーザーがおすすめの筋トレ動画や器具を投稿して、<br>
                        みんなでシェア。これであなたの<br>おうち筋トレの効率をアップさせます。</p>
                </div>
                <img src="/assets/スクリーンショット (21).png" alt="" width="500px" height="300px">
            </div>
        </div>
    </div>
    <div class="bottom-wrapper">
        <div class="container">
            <h2>他にもこんな機能を搭載しています</h2>
            <div id="other1" class="bottom-box animation-box">
                <h3><i class="far fa-heart"></i>いいね</h3>
                <p>「いいね」でユーザーの筋トレモチベを上げよう。</p>
            </div>
            <div id="other2" class="bottom-box animation-box">
                <h3><i class="far fa-handshake"></i>フォロー</h3>
                <p>気になるおうちトレーニーをフォローして、
                    みんなの日々の筋トレをチェック。</p>
            </div>
            <div id="other3" class="bottom-box animation-box">
                <h3><i class="far fa-comment"></i>コメント</h3>
                <p>投稿に対して「コメント」をして、
                    応援したり、アドバイスしたりしよう。
                </p>
            </div>
            <div id="other4" class="bottom-box animation-box">
                <h3><i class="far fa-thumbs-up"></i>ランキング機能</h3>
                <p>おすすめ筋トレ投稿のいいね数で人気の筋トレ投稿をチェック。</p>
            </div>
            <div id="other5" class="bottom-box animation-box">
                <h3><i class="far fa-comments"></i>DM機能</h3>
                <p>気になるおうちトレーニーにDMを送って、更に仲良くなろう。</p>
            </div>
        </div>
    </div>
</div>

<div class="start-wrapper">
    <div class="container">
        <h2> To be the <span class="span3">Stronget</span><br><span class="span4">Home Trainee</span></h2>
        <img src="/assets/jonathan-borba-lrQPTQs7nQQ-unsplash.jpg" alt="" width="100%" height=500px">

        <ul class="start">
            <li class="signup2 animation-box"><%= link_to "Signup", new_user_registration_path %></li>
            <li class="login2 animation-box"> <%= link_to "Login", tweets_path %></li>
        </ul>
    </div>
</div>



<% end %>

<%= javascript_pack_tag 'script' %>