<h1>マイページ</h1>
<%= link_to "おすすめを投稿", new_tweet_path %>
<%= link_to "今日の筋トレ投稿", new_blog_path %>
<%= link_to "プロフィール", user_path(current_user.id) %>　

<%= month_calendar events: @blogs do |date, blogs| %>
    <%= date.day %>

    <% blogs.each do |blog| %>
    <div>
        <%= link_to blog.part, blog %>
    </div>
    <% end %>
  <% end %>

<%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
