<link rel="stylesheet" href="stylesheets/fronts.css">
<%= javascript_pack_tag 'script' %>


<div class="header-fronts">
    <div class="header-fronts-right">
        <a class="menubutton" id="menubutton">
            <div></div>
            <div></div>
            <div></div>
        </a>
    </div>

    <div class="menu" id="menu">
        <ul class="menu-box">
            <li><%= link_to "おすすめ投稿", new_tweet_path %> </li>
            <li><%= link_to "おすすめ投稿一覧", tweets_path %></li>
            <li><%= link_to "今日の筋トレを記録", new_blog_path %></li>
            <li><%= link_to "筋トレ記録一覧", blogs_path %></li>
            <li><%= link_to "おうちトレーニー", users_path %></li>
            <li><%= link_to "マイプロフィール", user_path(current_user.id) %></li>
            <li><%= link_to "体重管理", new_graph_path %></li>
            <li><%= link_to "マッチョ診断", new_person_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        </ul>

    </div>
</div>
<div class="mask" id="mask"></div>



<div class="front-center">
    <div class="calendar">
        <%= month_calendar events: @my_blogs do |date, blogs| %>
        <%= date.day %>

        <% blogs.each do |blog| %>
        <div>
            <%= link_to blog.part, blog %>
        </div>
        <% end %>
        <% end %>
    </div>

    <p id="notice"><%= notice %></p>

    <div class="front-blog">
        <h2>あなたの最近の筋トレ記録</h2>
        <% @my_blogs.each do |blog| %>
        <div class="front-blog-self">
            <ul>
                <li><%= blog.start_time.strftime("%Y-%m-%d") %></li>
                <div class="front-blog-detail">
                    <li><%= blog.part %></li>
                    <li><%= blog.training %></li>
                    <li><%= link_to '詳細へ', blog_path(blog.id), class:"front-blog-detail-detail" %></li>
                </div>
            </ul>
        </div>
        <% end %>
    </div>
</div>

<h1>あなたの体重推移</h1>

<%= line_chart @my_result, xtitle: "日付", ytitle: "体重",max:100 %>


<%= javascript_pack_tag 'script' %>