<h1>投稿編集</h1>
<%= form_for @tweet do |f| %>
<div class="field">
    <%= f.label :名前 %>
    <%= f.text_field :name, :size => 30 %>
</div>
<div class="field">
    <%= f.label :部位 %>
    <%= f.text_field :part, :size => 30 %>
</div>
<div class="field">
    <%= f.label :種目 %>
    <%= f.text_field :training, :size => 30 %>
</div>
<div class="field">
    <%= f.label :感想 %>
    <%= f.text_field :about, :size => 30 %>
</div>
<%= f.submit "編集する" %>
<% end %>