<h1>おすすめ投稿一覧</h1>
<%= link_to "マイページへ", front_path(id: current_user) %>
<%= link_to "おすすめ投稿をする", new_tweet_path %>
<%= page_entries_info @tweets %>
<h2>いいね数ランキング</h2>
    <% @all_ranks.each do |f| %>
        <% @tweets.each do |t| %>
            <%= t.title %>
        <% end %>
    <% end %>



<div class="tweets-container">
    <% @tweets.each do |t| %>
        <div class="tweet1">
            
            <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
            <%= t.title %>
            <%= t.name %>
            <%= t.part %>
            <%= t.training %>
            <%= t.about %>
            <%= image_tag t.image_url, size: "250x200" if t.image? %>
            <%=  video_tag t.video_url ,:controls => true if t.video? %>
            <iframe width="200" height="100" src="https://www.youtube.com/embed/
            <%=t.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                    <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
            </div>     
            <%= t.created_at %>
            <%= link_to "詳細へ", tweet_path(t.id) %>
            <% if user_signed_in? && current_user.id == t.user_id %>  
            <%= link_to "編集する", edit_tweet_path(t.id) %>
            <%= link_to "削除する", tweet_path(t.id), method: :delete %>
            <% end %> 
    <% end %>
</div>
<%= paginate @tweets %>