<link rel="stylesheet" href="stylesheets/tweets.css">

<div class="header-tweet-index">
    <ul>
            <li><%= link_to "マイページ", front_path(id: current_user) %></li> 
            <li><i class="far fa-comment-alt"></i>おすすめ投稿一覧</li>
            <li class="recommend-tweet-button"><%= link_to "おすすめ投稿", new_tweet_path %></li>
    </ul>
</div>


<div class="tweets-container">
<div class="tweet-left">
    <li><i class="fas fa-home"></i><%= link_to "マイページ", front_path(id: current_user), class:"function" %></li> 
    <li><i class="far fa-comment-alt"></i>おすすめ投稿一覧</li>
    <li><i class="far fa-comment-dots"></i><%= link_to "今日の筋トレを記録", new_blog_path %> </li>
    <li><i class="far fa-comment-alt"></i><%= link_to "筋トレ記録一覧", blogs_path %></li>
    <li><i class="far fa-user"></i><%= link_to "おうちトレーニー", users_path %></li>
    <li><i class="far fa-address-card"></i><%= link_to "マイプロフィール", user_path(current_user.id) %></li>
    <li><i class="far fa-edit"></i><%= link_to "体重管理", new_graph_path %></li>
    <li><i class="fas fa-dumbbell"></i><%= link_to "マッチョ診断", new_person_path %></li>
</div>
<div class="tweet-center">
    <% @tweets.each do |t| %>
        <div class="tweet">
            <ul class="top-tweet">
                <li class-"user-image"><%= image_tag t.user.image_url, size: "50x50" if t.user.image? %> </li>
                <li><a href="/users/<%= t.user.id %>"><%= t.user.name %></a></li>
                <li><%= t.created_at %></li>
            </ul>
            <ul class="detail-tweet">
                <li class="title">おすすめ内容</li>
                <li class="content"><%= t.title %></li>
            </ul>
            <ul class="detail-tweet">
                <li class="title">筋トレ部位</li>
                <li class="content"><%= t.part %></li>
            </ul>
            <ul class="detail-tweet">
                <li class="title">トレーニング名</li>
                <li class="content"><%= t.training %></li>
            </ul>
            <ul class="detail-tweet">
                <li class="title">コメント</li>
                <li class="content"><%= t.about %></li>
            </ul>
            <%= image_tag t.image_url, size: "250x200" if t.image? %>
            <%=  video_tag t.video_url ,:controls => true if t.video? %>
            <iframe width="200" height="100" src="https://www.youtube.com/embed/
            <%=t.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; 
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <% if user_signed_in? %>
                <% if current_user.already_liked?(t) %>
                    <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
                <% else %>
                    <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
                        <i class="fas fa-heart"></i><%= t.likes.count %>
                    <% end %>
                <% end %>
            <% else %>
                <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
                 
            <%= link_to "詳細へ", tweet_path(t.id) %>
            <% if user_signed_in? && current_user.id == t.user_id %>  
            <%= link_to "編集する", edit_tweet_path(t.id) %>
            <%= link_to "削除する", tweet_path(t.id), method: :delete %>
            <% end %> 
        </div>  
   

    <% end %>
</div>
<div class="tweet-right">
    <h2>いいね数ランキング</h2>
    <% @all_ranks.each do |f| %>
        <% @tweets.each do |t| %>
        <div class="rank-tweet">
            <li class-"user-image"><%= image_tag t.user.image_url, size: "50x50" if t.user.image? %> </li>
            <li><a href="/users/<%= t.user.id %>"><%= t.user.name %></a></li>
            <%= t.title %>
            <%= t.part %>
            <%= t.training %>
            <%= link_to "詳細へ", tweet_path(t.id) %>
        </div>
        <% end %>
    <% end %>
</div>
</div>