<h1>おすすめを投稿</h1>
<%= form_for @tweet do |f| %>

    <div class="field">
        <%= f.label :タイトル %>
        <%= f.text_field :title, :size => 30 %>
    </div>
    <div class="field">
        <%= f.label :部位 %>
        <%= f.select :part,
        [["腹筋", "腹筋"],
        ["肩", "肩"],
        ["背中", "背中"]], include_blank: "選択して下さい" %>
        
    </div>
    <div class="field">
        <%= f.label :種目 %>
        <%= f.text_field :training, :size => 30 %>
    </div>
    <div class="field">
        <%= f.label :内容 %>
        <%= f.text_field :about, :size => 30 %>
    </div>
    <div class="field">
        <%= f.label :画像 %>
        <%= f.file_field :image %>
    </div>
    <div class="field">
        <%= f.label :動画 %>
        <%= f.url_field :youtube_url %>
    </div>
    <%= f.submit "投稿する" %>
<% end %>




<%= link_to "マイページに戻る", front_path(id: current_user) %>
