<link rel="stylesheet" href="stylesheets/users.css">

<div class="header-page" data-turbolinks="false">
  <h1><a href="/fronts/<%= current_user.id %>"><span class="maintitle">The Strongest</span><span
        class="description">Home Trainee</span></a></h1>
</div>

<div class="users-container">



  <ul class="user-left">
    <li><i class="far fa-address-card"></i>プロフィール</li>
    <li><i class="far fa-comment-alt"></i><%= link_to "おすすめ投稿一覧", tweets_path %></li>
    <li><i class="far fa-comment-alt"></i><%= link_to "筋トレ記録一覧", blogs_path %></li>
    <li><i class="far fa-user"></i><%= link_to "おうちトレーニー", users_path %></li>
    <li><i class="far fa-edit"></i><%= link_to "体重管理", new_graph_path %></li>
    <li><i class="fas fa-dumbbell"></i><%= link_to "体型診断", new_person_path %></li>
  </ul>

  <div class="user-show-center">
    <div class="top-detail">
      <p><%= image_tag @user.image_url %></p>
      <p class="show-name"><%= @user.name %></p>
    </div>
    <div class="balloon1">
      <% if @user.profile? %>
      <p><%= @user.profile %></p>
      <% else %>
      <p>よろしくお願いいたします。</p>
      <% end %>

    </div>

    <ul class="fo">
      <li><a href="/users/<%= @user.id %>/following"><%= @user.followings.count %>フォロー中</a></li>
      <li><a href="/users/<%= @user.id %>/followers"><%= @user.followers.count %>フォロワー</a></li>
    </ul>

    <% if @user.id == current_user.id %>

    <% else %>
    <% if @isRoom == true %>
    <p><a class="go-chat" href="/rooms/<%= @roomId %>">チャットへ</a>
      <% else %>
      <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
      <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める", :class=>"start-chat" %>
      <% end %>
      <% end %>
      <% end %>
      <%= render "relationships/follow_button", user: @user %>

      <% if current_user.id == @user.id %>
      <div class="user-edit">
        <%= link_to "編集する", edit_user_registration_path, class:"user-edit-text" %>
      </div>
      <% end %>
  </div>


  <div class="user-show-right">
    <h2><%= @user.name %>さんの筋トレ記録</h2>
    <div class="user-blog">
      <% @user.blogs.each do |t| %>
      <div class="user-blog-self">
        <ul class="user-blog-self-box1">
          <% if t.user.image? %>
          <li><img src='<%= t.user.image %>' class="icon" , size: "50x50" alt="ユーザーアイコン"></li>
          <% else %>
          <li>
            <image src="/assets/8.png" class="icon" , size: "50x50" alt="ユーザーアイコン" %>
          </li>
          <% end %>
          <li><%= t.user.name %></li>
          <li><%= t.created_at %></li>
        </ul>
        <ul class="user-blog-self-box2">
          <li><%= t.part %></li>
          <li><%= t.training %></li>
          <li><%= t.about %></li>
        </ul>
        <ul class="user-blog-self-box3">
          <% if user_signed_in? %>
          <% if current_user.already_loved?(t) %>
          <%= link_to blog_love_path(id: t.id, blog_id: t.id), method: :delete do %>
          <i class="fas fa-heart red-heart"></i><span class="red-count"><%= t.loves.count %></span>
          <% end %>
          <% else %>
          <%= link_to blog_loves_path(id: t.id, blog_id: t.id), method: :post do %>
          <i class="fas fa-heart"></i><%= t.loves.count %>
          <% end %>
          <% end %>
          <% else %>
          <li><i class="fas fa-heart"></i><%= t.loves.count %></li>
          <% end %>

          <% if user_signed_in? && current_user.id == t.user_id %>
          <li><%= link_to edit_blog_path(t.id) do   %>
            <i class="far fa-edit"></i>
            <% end %>
          </li>
          <li><%= link_to blog_path(t.id), method: :delete do %>
            <i class="fas fa-trash"></i>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>

    <h2><%= @user.name %>さんがいいねした筋トレ記録</h2>
    <div class="user-blog">
      <% @user.loved_blogs.each do |t| %>
      <div class="user-blog-self">
        <ul class="user-blog-self-box1">
          <% if t.user.image? %>
          <li><img src='<%= t.user.image %>' class="icon" , size: "50x50" alt="ユーザーアイコン"></li>
          <% else %>
          <li>
            <image src="/assets/8.png" class="icon" , size: "50x50" alt="ユーザーアイコン" %>
          </li>
          <% end %>
          <li><%= t.user.name %></li>
          <li><%= t.created_at %></li>
        </ul>
        <ul class="user-blog-self-box2">
          <li><%= t.part %></li>
          <li><%= t.training %></li>
          <li><%= t.about %></li>
        </ul>
        <ul class="user-blog-self-box3">
          <% if user_signed_in? %>
          <% if current_user.already_loved?(t) %>
          <%= link_to blog_love_path(id: t.id, blog_id: t.id), method: :delete do %>
          <i class="fas fa-heart red-heart"></i><span class="red-count"><%= t.loves.count %></span>
          <% end %>
          <% else %>
          <%= link_to blog_loves_path(id: t.id, blog_id: t.id), method: :post do %>
          <i class="fas fa-heart"></i><%= t.loves.count %>
          <% end %>
          <% end %>
          <% else %>
          <li><i class="fas fa-heart"></i><%= t.loves.count %></li>
          <% end %>

          <% if user_signed_in? && current_user.id == t.user_id %>
          <li><%= link_to edit_blog_path(t.id) do   %>
            <i class="far fa-edit"></i>
            <% end %>
          </li>
          <li><%= link_to blog_path(t.id), method: :delete do %>
            <i class="fas fa-trash"></i>
            <% end %>
          </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </div>