<h1>プロフィール</h1>
<p>名前 : <%= @user.name %></p>
<p>ユーザー画像 ： <%= image_tag @user.image_url %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>みんなにひとこと : <%= @user.profile %></p>


<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>あなたの投稿一覧</h2>
<% @user.tweets.each do |t| %>
  <%= t.user.name %>
  <%= t.about %>
<% end %>

<h2>あなたがいいねした投稿一覧</h2>
<% @user.liked_tweets.each do |t| %>
  <%= t.user.name %>
  <%= t.about %>
<% end %>



<h2>フォロー中のユーザー<h2>
<% @user.followings.each do |t| %>
  <%= t.name %>
<% end %>

<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "マイページに戻る", fronts_path %>
<%= render "relationships/follow_button", user: @user %>